-# frozen_string_literal: true
#heroCarousel.carousel.slide{"data-ride" => "carousel"}
  .carousel-inner
    -# Replace with actual data
    - 3.times do
      .carousel-item.active
        %img.d-block.w-100{src: "http://placekitten.com/200/300"}
          .carousel-caption.d-none.d-md-block
            %h5 What we're doing in Kigali
            %p Take a look at how we plan to impact the community here with clean water...
            -# = link_to report_path(report.id)
      .carousel-item
        %img.d-block.w-100{src: "http://placekitten.com/200/300"}
          .carousel-caption.d-none.d-md-block
            %h5 What we're doing in Nymata
            %p Take a look at how we plan to impact the community here with clean water...
      .carousel-item
        %img.d-block.w-100{src: "http://placekitten.com/200/300"}
          .carousel-caption.d-none.d-md-block
            %h5 What we're doing in Butare
            %p Take a look at how we plan to impact the community here with clean water...
  %a.carousel-control-prev{"data-slide" => "prev", :href => "#heroCarousel", :role => "button"}
    %span.carousel-control-prev-icon{"aria-hidden" => "true"}
    %span.sr-only Previous
  %a.carousel-control-next{"data-slide" => "next", :href => "#heroCarousel", :role => "button"}
    %span.carousel-control-next-icon{"aria-hidden" => "true"}
    %span.sr-only Next

:scss
  #heroCarousel {
    margin-bottom: 50px;
  }
  .carousel-inner{
    width:100%;
    max-height: 500px !important;
  }