-# frozen_string_literal: true
- use_default_image = "this.onerror=null;this.src='" + asset_path('story_no_image.png') + "'"
%a.story.card{href: url_for(story)}
  .card-caption
    %h4.title{ class: ('prominent' if story.prominent?) }
      = story.title
      %p.subtitle.text-right= human_month_year story.date
    = image_tag story.picture, class: 'card-img-top img-fluid', onError: use_default_image
