%h2
  How we are measure success.
.row.justify-content-center
  - if @lifetime_stats.any?
    - @lifetime_stats.each do |stat_block|
      = render partial: "shared/basic_stat_block", locals: { stat: stat_block[:stat], title: stat_block[:title] }
