= render partial: 'carousel', locals: { data: [{title: "Some report title", image: "image url for report data or static", desc: "report description"}] }
.container
  .row.w-100.justify-content-center
    %p.w-50.text-center
      Access to clean water is a fundamental human need that must be met if we expect to sustain progress toward ending poverty, ensuring access to education, and improving global health standards.
.container
  .row.justify-content-center
    - if @lifetime_stats.any?
      - @lifetime_stats.each do |stat_block|
        - next if stat_block.blank?
        = render partial: "shared/basic_stat_block", locals: { stat: stat_block[:stat], title: stat_block[:title] }
    = render partial: "shared/basic_stat_block", locals: { stat: @global_impact, title: 'People served' }

.container.mt-5
  .row.justify-content-center
  %nav.nav.nav-pills.nav-fill
    %a.nav-item.nav-link.active{:href => "#"} 2019
    %a.nav-item.nav-link{:href => "#"} 2018
    %a.nav-item.nav-link{:href => "#"} 2017
    %a.nav-item.nav-link{:href => "#"} 2016
    %a.nav-item.nav-link{:href => "#"} 2015
    
.container.mt-5
  .card-columns
    = render partial: 'story', collection: @stories



-# Menu for time
.container

-# Gallery with links to stories