.row.mb-3
  .col-sm-10
    %h3= "Monthly Technology Report for #{@date.strftime('%B %Y')}"
  .col-sm-2
    = link_to 'Back', monthly_path, class: 'btn btn-dark'

.row.mt-3#tech_section
  .col
    = render partial: 'technology', collection: @technologies

