-# frozen_string_literal: true
- @report_sub = sector.related_reports.between(@from, @to)
- @plan_sub = sector.related_plans.between(@from, @to)
%tr
  %td= link_to sector.name, sector_path(sector)
  %td.text-right= human_number @report_sub.map(&:impact).sum
  %td.text-right= human_number @plan_sub.sum(:people_goal)
