-# frozen_string_literal: true
%h1 Submit a report: select a sector

%table.table.table-striped
  %thead
    %tr
      %th Name
      %th District
      %th

  %tbody
    - @sectors.each do |sector|
      %tr
        %td= sector.name
        %td= sector.district.name
        %td= link_to 'Submit Report', report_sector_path(sector), class: 'btn btn-primary'

%br

= link_to 'Back', root_path
