-# frozen_string_literal: true
- bg = highlight ? 'liters-yellow-bg' : 'liters-gray-bg'
- text = highlight ? 'liters-text-gray' : 'liters-text-white'
#basic-stat-block.col.px-1
  .card.text-center.match-height
    .card-body{class: "#{bg} #{text}"}
      %h1.card-title
        = human_number(stat)
      %h6.card-subtitle
        = title
