#basic-stat-block.col.px-1
  .card.text-center.match-height
    .card-body.pb-0.liters-gray-bg
      %h4.card-title{:style=>"color: white;"}
        = human_number(stat)
      %h6.card-subtitle.mb-2{:style=>"color: white;"}
        = title

:scss
  #basic-stat-block .card {
    border-radius: 0 !important;
  }