-# frozen_string_literal: true
.row
  .col-10
    %h1 New facility
  .col-2.text-right
    = link_to 'Back', @return_path, class: 'btn yellow'

.row
  .col-12
    = render partial: 'form', locals: { facility: @facility }
