-# frozen_string_literal: true
%div.container
  %h1.left Listing Countries

%div.row
  %table.table.table-dark.table-striped.table-hover.table-sm.table-responsive-sm
    %thead.thead-dark
      %tr
        %th Name
        %th Gis code
        %th Population
        %th Households
        %th
        %th
        %th
    %tbody
      -@countries.each do |country|
        %tr
          %td=country.name
          %td
          %td
          %td
          %td
          %td
          %td

  %div.row
    = link_to 'New Country', new_country_path
