$enable-gradients: true;
$grey: rgb(74,74,74);
$yellow: rgb(252,224,0);
$light-blue: rgb(122,155,182);
$light-grey: rgb(248,248,248);
$slightly-darker-light-grey: rgb(238,238,238);
$dark-grey: #979797;
$red: #B86460;
$light-red: rgba(184,100,96,0.35);

@font-face {
  font-family: 'DIN-Bold';
  src: font-url('DIN-Bold.ttf');
  font-weight: bold;
  font-style:normal
}

@font-face {
  font-family: 'DIN';
  src: font-url('DIN.ttf');
  font-weight: normal;
  font-style:normal
}

@font-face {
  font-family: 'DIN-Light';
  src: font-url('DIN-Light-Regular.otf');
  font-weight: 300;
  font-style:normal
}
