@import "mixins/*";
@import "mixins/**/*";

#brandbar_nav {
  a img {
    width: 199px;
  }
}

#brandbar {
  .nav-item {
    margin: 0 .5em;

    a {
      opacity: .8;
      font-weight: bold;
      font-size: 1em;
      text-align: center;
      padding: .5em .75em;
      color: white;
      min-width: 106px;
    }
  }
}

.internal-header {
  background-image: url("https://d5t73r6km0hzm.cloudfront.net/bgimage.jpg");
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  padding: 100px 0 50px;

  h1 {
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    color: white;
    text-rendering: optimizelegibility;
  }

  h5 {
    text-align: center;
    color: white;
    text-rendering: optimizelegibility;
    max-width: 80%;
    margin: 10px auto 0px;
  }
}


#basic-stat-block {
  .card {
    border-radius: 0 !important;
  }

  .card-body {
    color: white;
  }
}

#date_navs {
  .nav {
    border-radius: 0 !important;

    .highlight {
      border-bottom: 0.5rem solid $yellow
    }
  }

  #month_nav .nav-item {
    text-align: center;
    width: 8%;
  }
}

