@import "mixins/*";
@import "mixins/**/*";

#brandbar_nav {
  position: absolute;
  width: 100%;
  top: 30px;
  padding: 0 1.2rem;

  a img {
    width: 199px;
  }
}

#brandbar {
  z-index: 3;
  .nav-item {
    margin: 0 8px;

    a {
      opacity: .8;
      font-weight: 700;
      font-size: 14px;
      line-height: 24px;
      text-align: center;
      padding: 8px 12px;
      color: white;
    }

    a:hover {
      border-bottom: 2px solid $yellow;
      opacity: 1;
    }
  }

  .fix-width-106 {
    min-width: 106px;
    max-width: 112px;
  }

  .kindful-track a {
    border: 2px solid $yellow;

    &:hover {
      color: $grey;
      background-color: $yellow;
    }
  }
}

.internal-header {
  background-image: asset_url('bgimage.jpg');
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 300px;
  padding: 100px 0 12px;
  text-align: center;
  color: white;

  #dashboard_btn {
    margin-top: 20px;
  }

  h1 {
    font-weight: bold;
    max-width: 80%;
    margin: 34px auto 0px;
  }

  h5 {
    max-width: 80%;
    margin: 6px auto 0px;
  }
}

#month_nav {
  a {
    color: $grey;
    border-bottom: 2px solid transparent;

    &:hover {
      border-bottom: 2px solid $yellow;
    }
  }
}

.basic-stat-block {
  .card {
    border-radius: 0 !important;
    margin: 20px 0px;


  }

  .card-title {
    margin-top: 20px;
  }

  .card-subtitle {
    margin-bottom: -20px;
  }
}

#date_navs {
  .nav {
    border-radius: 0 !important;

    .highlight {
      border-bottom: 0.5rem solid $yellow
    }
  }

  #year_nav .nav-item {
    &.highlight:hover {
      color: white;
    }

    &:hover {
      color: $yellow;
    }
  }

  #month_nav .nav-item {
    text-align: center;
    width: 8%;
  }
}

#story_column .card:hover {
  color: $grey;
  background-color: #f8f8f8;
  box-shadow: 0 0 18px #888;
  text-decoration: none;
}

.card-caption {
  &:hover {
    .title {
      color: $grey;
      background-color: $transparent-yellow;

      &.prominent {
        color: $yellow;
        background-color: $transparent-grey;
      }
    }
  }
  .title {
    position: absolute;
    width: 100%;
    min-height: 76px;
    bottom: 0;
    padding: 10% 4%;
    color: white;
    font-weight: bolder;
    background-color: $transparent-grey;

    &.prominent {
      color: $grey;
      background-color: $transparent-yellow;
    }
  }
}

@media (max-width: 768px) {
  .card-caption h4 {
    font-size: 1rem;
  }
}

@media (max-width: 991px) {
  #brandbar ul {
    background-color: $transparent-grey;
    padding: 6px;
    border-radius: 2px;
  }
}

@media (max-width: 576px) {
  .card-caption h4 {
    font-size: 1.75rem;
  }
}
