@import "mixins/*";
@import "mixins/**/*";

.bgimage {
  width:100%;
  height:500px;
  background: url("https://d5t73r6km0hzm.cloudfront.net/bgimage.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  background-attachment: fixed;
  position: relative;
}

.bgimage h5, .bgimage h1 {
  color:white;
  text-shadow:2px 2px #333;
}

.spacer {
  width: 10% !important;
}

.title-text {
  width: 80% !important;
}

.center-header{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

#basic-stat-block {
  .card {
    border-radius: 0 !important;
  }

  .card-body {
    color: white;
  }
}

#date_navs {
  .nav {
    border-radius: 0 !important;

    .highlight {
      border-bottom: 0.5rem solid $yellow
    }
  }

  #month_nav .nav-item {
    text-align: center;
    width: 8%;
  }
}

