$enable-gradients: true;
@import "bootstrap";
@import "tempusdominus-bootstrap-4";
@import "font-awesome";


.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #fce000;
}

#loading_screen {
  background-color: rgba(255,255,255,0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;

  #loading_spinner {
    color: rgb(252,224,0);
    position: fixed;
    top: 50%;
    margin-top: -50px;
    left: 50%;
    margin-left: -50px;
  }
}


main.container {
  padding-top: 70px; // reserve space for the alerts
  margin-bottom: 60px; // reserve space for the footer

  .alert {
    margin-top: -66px;
  }
}

.hidden {
  display: none;
}

.small-text-container {
  line-height: 0.75rem;
}

.small-text {
  font-size: 0.75rem;
}

.warning-text {
  color: #dc3545;
}

.no-padding {
  padding: 0 !important;
}

#error_explanation {
  border-radius: 3px;
  color: #721c24;
  background: #f8d7da linear-gradient(180deg, #f9dde0, #f8d7da) repeat-x;
  border-color: #f5c6cb;

  li {
    list-style: none;
  }
}

.card.match-height {
  min-height: 100%
}

table {
  .form-control {
    display: inline-block;
  }
}
