@import "mixins/*";
@import "mixins/**/*";

* {
  font-family: 'DIN', sans-serif
}

body {
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
  a {
    color: $light-blue;
    &:hover {
      color: darken($light-blue, 10%);
      text-decoration: none;
    }
    &:link, &:visited, &:focus, &:hover, &:active {
      text-decoration: none;
    }
  }
}

.fa {
  font-family: FontAwesome !important;
}

.hidden {
  visibility: hidden;
}

.liters-yellow-bg{
  background-color: $yellow;
}

.liters-gray-bg{
  background-color: $grey;
}

.liters-blue-bg{
  background-color: $light-blue;
}

.liters-text-white {
  color: #ffffff;
  a, a:visited {
    color: #ffffff;
  }
}

.btn {
  border-radius: 0.1rem !important;
  border: 0;
  color: $grey;
  font-weight: bold;
  &:hover {
    color: lighten($grey, 10%);
  }
}

.btn.yellow {
  color: $grey;
  background-color: $yellow;
  border: 1px solid darken($yellow, 5%);
  &:hover {
    background-color: lighten($yellow, 10%);
    border: 1px solid $yellow;
  }
}

.btn.red {
  color: white;
  background-color: $red;
  border: 1px solid darken($red, 5%);
  &:hover {
    background-color: lighten($red, 10%);
    border: 1px solid $red;
  }
}

.btn.blue {
  color: white;
  background-color: $light-blue;
  border: 1px solid darken($light-blue, 5%);
  &:hover {
    background-color: lighten($light-blue, 10%);
    border: 1px solid $light-blue;
  }
}

.btn.empty {
  background-color: transparent;
  transition: all 0.14s ease-in-out;
  border: 2px $yellow solid;
  padding-left: 2em;
  padding-right: 2em;
  &:hover {
    background-color: $yellow;
    color:#fff;
  }
}

.btn-group > .btn-default {
  color: $grey;
  background-color: $yellow;
  border: 1px solid darken($yellow, 10%);
  &:hover {
    background-color: lighten($yellow, 10%);
    border: 1px solid $yellow;
    span {
      color: lighten($grey, 10%);
    }
  }
  &:first-child {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
  }
  &:last-child {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
  }
}

.highlight {
  border-radius: 0;
  border: 0;
  color: $grey;
  font-weight: bold;
  padding: 6px;
  &.yellow {
    color: $grey;
    background-color: $yellow;
    border: 1px solid darken($yellow, 5%);
  }
  &.blue {
    color: white;
    background-color: $light-blue;
    border: 1px solid darken($light-blue, 5%);
  }
  &.red {
    color: white;
    background-color: $red;
    border: 1px solid darken($red, 5%);
  }
  &.empty {
    color: $grey;
    background-color: transparent;
    transition: all 0.14s ease-in-out;
  }
}

.form-control:focus {
  box-shadow: 0 0 5px $light-blue;
  border: 1px solid $light-grey;
}

.liters-yellow-text{
  color: $yellow;
}

.liters-gray-text{
  color: $grey;
}

.liters-blue-text{
  color: $light-blue;
}

.liters-blue-white{
  color: #ffffff;
}

#loading_screen {
  background-color: rgba(255,255,255,0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;

  #loading_spinner {
    color: rgb(252,224,0);
    position: fixed;
    top: 50%;
    margin-top: -50px;
    left: 50%;
    margin-left: -50px;
  }
}


main.container {
  padding-top: 70px; // reserve space for the alerts
  margin-bottom: 60px; // reserve space for the footer

  .alert {
    margin-top: -66px;
  }
}

.hidden {
  display: none;
}

.small-text-container {
  line-height: 0.75rem;
}

.small-text {
  font-size: 0.75rem;
}

.warning-text {
  color: $red;
}

.no-padding {
  padding: 0 !important;
}

#error_explanation {
  border-radius: 3px;
  color: $red;
  background: $light-red;
  border-color: $red;

  li {
    list-style: none;
  }
}

.card.match-height {
  min-height: 100%
}

table {
  .form-control {
    display: inline-block;
  }
}

.badge {
  @at-root #{selector-unify(&, "a")} {
    &:visited {
      color: inherit;
    }
  }
}
