$enable-gradients: true;
@import "bootstrap";
@import "tempusdominus-bootstrap-4";


.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #fce000;
}


main.container {
  padding-top: 70px; // reserve space for the alerts
  margin-bottom: 60px; // reserve space for the footer

  .alert {
    margin-top: -66px;
  }
}

table.tight td {
  padding: 0.05rem;
}

.hidden {
  display: none;
}

#error_explanation {
  border-radius: 3px;
  color: #721c24;
  background: #f8d7da linear-gradient(180deg, #f9dde0, #f8d7da) repeat-x;
  border-color: #f5c6cb;

  li {
    list-style: none;
  }
}
