@import "variables";

$bottom-spacing: 16px;

.hero {
    width: 100%;
    height: 350px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: hsla(0, 0%, 0%, .25);
    }
}

.breadcrumbs {
    position: absolute;
    bottom: 8px;
    left: 0;
    right: 0;
    margin: 0 auto;


    a {
        padding: 3px 5px;
        background-color: #fce000;
        color: #4a4a4a;
        border: 1px solid #e3c900;

        &:hover {
            background-color: #ffe830;
            border: 1px solid #fce000;
            text-decoration: none;   
        }
    }
}

.meta {
    border-left: 4px $yellow solid;
    padding-left: 8px;
    padding-top: 8px;
    margin-bottom: 16px;
}

.story-text {
    margin-bottom: $bottom-spacing;

    &:only-child {
        margin-bottom: 0;
        padding-bottom: $bottom-spacing; // To handle the fixed position footer
    }
}


.card {
  margin: 20px 0px;

  &:hover {
    color: black;
    background-color: #f8f8f8;
    box-shadow: 0 0 18px #888;    
    text-decoration: none;      
  } 
}

.related-stories {
    padding-bottom: $bottom-spacing; // To handle the fixed position footer

    // Feels a little dirty, but is
    .heading {
        box-sizing: border-box;
        text-align: center;
    }

    h2 {
        display: inline-block;
        padding: 0 16px;
        border-bottom: 6px $yellow solid;
    }
}
