@import "mixins/*";
@import "mixins/**/*";

// Stories#show styles:
#dashboard_btn {
  margin-top: -20px;
}


$bottom-spacing: 16px;

.breadcrumbs {
  position: absolute;
  bottom: 8px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.meta {
  border-left: 4px $yellow solid;
  padding-left: 8px;
  padding-top: 8px;
  margin-bottom: 16px;
  font-size: 1.5rem;
}

.image-show img {
  width: 355px;
}

.location-details {
  border-left: 4px $yellow solid;
  padding-left: 8px;
}

.related-stories {
    padding-bottom: $bottom-spacing; // To handle the fixed position footer

    .heading {
        box-sizing: border-box;
        text-align: center;
    }

    h2 {
        display: inline-block;
        padding: 0 16px;
        border-bottom: 6px $yellow solid;
    }
}


// index styles:
#story_table {
    .story-img-thumb {
        width: 45px;
    }
}

// form styles:
.wysiwyg {
  .field_with_errors {
    width: 100%;
  }
}
