// Place all the styles related to the User controller here.
// They will automatically be included in application.css.
// You can use Sass here: http://sass-lang.com/

.deck .card {
  .card-title {
    height: 24px;
    overflow: hidden;
  }
  .card-body {
    text-align: center;
  }
  .card-text {
    height: 48px;
  }
}
