-# frozen_string_literal: true
.container
  %h1.left All Reports

  %table.table.table-striped#reports-dttb{data: {source: dttb_index_reports_path(format: :json) } }
    %thead.thead-dark
      %tr
        %th Date
        %th Location
        %th Sector
        %th Tech
        %th Dist
        %th Checked
        %th Ppl
        %th Hrs
        %th Impact
        %th Author
        %th
    %tbody
