-# frozen_string_literal: true
.container
  %h1.left All Reports

  %table.table.table-striped#dttb-reports{data: {source: dttb_index_reports_path(format: :json)}}
    %thead
      %tr
        %th Date
        %th Location
        %th Sector
        %th Tech
        %th Dist
        %th Checked
        %th Ppl
        %th Hrs
        %th Impact
        %th Author
        %th
    %tbody

  .row.justify-content-center.align-self-center
    .col-2
      = link_to 'New Report', new_report_path, class: 'btn empty btn-sm float-left'
    .col-10
